@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}
.body{
display:flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background:#0aa8a8}
.container{
    position:relative;
    left:190px;
    top:100px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.container{
    position:absolute;
    width:350px;
    height:350px;
    background:rgb(232, 227, 227);
    box-shadow:inset 20px 20px 20px rgba(0,0,0,0.05),
    25px 35px 20px rgba(0,0,0,0.05),
    25px 30px 20px rgba(0,0,0,0.05),
    inset -20px -20px 25px rgba(255,255,255,0.9);
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    text-decoration: none;
    text-align: center;
    transition:0.25s;
    box-shadow:inset 20px 20px 20px rgba(0,0,0,0.05),
    25px 35px 20px rgba(0,0,0,0.05),
    25px 30px 20px rgba(0,0,0,0.05),
    inset -20px -20px 25px rgba(255,255,255,0.9);
    border-radius: 62% 38% 28% 72% / 44% 59% 41% 56% ;
}
.container:hover{
border-radius:50%;
}
.container::before{
    content:'';
    position:absolute;
    top:50px;
    left:85px;
    width:35px;
    height:35px;
    border-radius:50%;
    background:#fff;
    opacity: 0.9;
}
.container::after{
    content:'';
    position:absolute;
    top:90px;
    left:110px;
    width:15px;
    height:15px;
    border-radius:50%;
    background:#fff;
    opacity: 0.9;
}
.container.content{
position:relative;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
text-align:center;
padding:40px;
gap:15px;
}
.content h2{
position:relative;
color:#333;
font-size:1.5em;
}
.content form{
    display:flex;
    flex-direction:column;
    gap:20px;
}
.inputBox{
    position: relative;
    width:225px;
    display:flex;
    justify-content: center;
    align-items:center;
    box-shadow:inset 20px 20px 20px rgba(0,0,0,0.1),
    inset -2px -5px 10px rgb(209, 206, 206)
    15px 15px 10px rgba(0,0,0,0.05),
    15px 10px 15px rgba(0,0,0,0.025);
    border-radius:25px;
}

.inputBox::before
{
    content:'';
    position:absolute;
    top:8px;
    left:50%;
    transform:translateX(-40%);
    width:45%;
    height:5px;
    background: rgba(212, 203, 203, 0.5);
    border-radius:5px;
}
.inputBox input{
    border:none;
    outline:none;
    background: transparent;
    width:100%;
    font-size:1em;
    padding:10px 15px;
}
.inputBox input
[type="submit"]
{
color:#fff;
text-transform:uppercase;
font-size:1em;
cursor:pointer;
letter-spacing: 0.1em;
font-weight:500px;
}
.inputBox:Last-child{
    width:120px;
    background: #ff0f5b;
    box-shadow:inset 20px 20px 20px rgba(0,0,0,0.1),
    inset -2px -5px 10px rgba(255,255,255,1)
    15px 15px 10px rgba(0,0,0,0.05),
    15px 10px 15px rgba(0,0,0,0.025);
}
.inputBox::after
{
    content:'';
    position:absolute;
    top:8px;
    left:50%;
    transform:translateX(-40%);
    width:45%;
    height:5px;
    background: rgba(212, 203, 203, 0.5);
    border-radius:5px;
}
.inputBox:hover{
    transition: scale(1.02);
}
.btns{
    position:absolute;
    right:-120px;
    bottom:0;
    width:120px;
    height:120px;
    background: #c61dff;
    display:flex;
    justify-content:center;
    align-items: center;
    cursor:pointer;
    text-decoration: none;
    color:#fff;
    
    font-size:0.8em;
    text-align: center;
    transition:0.25s;
    box-shadow:inset 10px 10px 10px rgba(190,1,254,0.05),
    15px 25px 10px rgba(190,1,254,0.1),
    15px 20px 20px rgba(190,1,254,0.1),
    inset -10px -10px 15px rgba(255,255,255,0.5);
    border-radius:34% 66% 65% 35%/57% 58% 42% 43%;
}
.btns:hover{
    border-radius:50%;
}
.btns::before{
    content:'';
    position: absolute;
    width:20px;
    height:20px;
    border-radius: 50%;
    background: #fff;
    opacity:0.45;
}
.btns.signup{
    width:80px;
    height:80px;
    bottom:150px;
    right:-140px;
    box-shadow:inset 10px 10px 10px rgba(1,180,255,0.05),
    15px 25px 10px rgba(1,180,255,0.1),
    15px 20px 20px rgba(1,180,255,0.1),
    inset -10px -10px 15px rgba(255,255,255,0.5);
    border-radius:62% 38% 28% 72% / 44% 59% 41% 56% ;
    background: #01b4ff;
}
.btns:hover{
    border-radius:50%;
}
.btns::before{
    left:20px;
    width:15px;
}